.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3.25rem;
  border-bottom: 1px solid rgb(var(--border-color));
  box-sizing: content-box;

  &__controls {
    flex-grow: 1;
  }
}

.nav {
  display: flex;
  gap: 1.25rem;
  align-items: center;

  &--accent {
    padding: .75rem 1rem;
    background-color: rgb(var(--black));
    color: rgb(var(--white));
    font-size: 1.125rem;

    &:focus, &:visited, &:active {
      color: rgb(var(--white));
    }
  }
}
