.search {
  width: 100%;
  padding: 3.5rem 3.25rem;
  position: relative;
  background-color: var(--warmgrey-50);

  &__input {
    input {
      border: 1px solid var(--coolgrey);
      opacity: .9;
    }

    button {
      padding: 0 1rem;
    }
  }
}