.link {
  color: rgb(var(--text-default));
  font-size: .875rem;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875rem;
  text-decoration: none;

  &:focus, &:visited, &:active {
    color: rgb(var(--text-default));
  }
}