.checkbox {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  padding: .125rem;
  border: 1px solid rgb(var(--coolgrey));
  box-sizing: border-box;
  background-color: rgb(var(--white));

  &--active span {
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgb(var(--primary-color));
  }
}