@font-face {
  font-family: "Soehne-Halbfett";
  src: url('https://cdn.imago-images.com/fonts/soehne-web-halbfett.woff2');
  font-display: swap;
}

@font-face {
  font-family: "Soehne-Web-Buch";
  src: url('https://cdn.imago-images.com/fonts/soehne-web-buch.woff2');
  font-display: swap;
}

@font-face {
  font-family: "Soehne-Mono-Web-Buch";
  src: url('https://cdn.imago-images.com/fonts/soehne-mono-web-buch.woff2');
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Soehne-Halbfett";
  font-size: 16px;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

:root {
  --primary-color: #00c6e0;
  --text-default: #141414;
  --black: #141414;
  --white: #ffffff;
  --border-color: #EAE7E2;
  --warmgrey-50: #F4F3F0;
  --coolgrey-50: #A3A3A6;
  --coolgrey: #48474D;
  --font: "Soehne-Halbfett";
  --font-mono: "Soehne-Mono-Web-Buch";
  --font-book: "Soehne-Web-Buch"
}
