@font-face {
  font-family: "Soehne-Halbfett";
  src: url('https://cdn.imago-images.com/fonts/soehne-web-halbfett.woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Soehne-Web-Buch";
  src: url('https://cdn.imago-images.com/fonts/soehne-web-buch.woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Soehne-Mono-Web-Buch";
  src: url('https://cdn.imago-images.com/fonts/soehne-mono-web-buch.woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Soehne-Halbfett";
  font-size: 16px;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1 {
  color: rgb(var(--text-default));
  font-family: var(--font);
  font-size: 1.5rem;
  line-height: 2rem;
}

:root {
  --primary-color: 0, 198, 224;
  --text-default: 20, 20, 20;
  --black: 20, 20, 20;
  --white: 255, 255, 255;
  --border-color: 234, 231, 226;
  --warmgrey: 234, 231, 226;
  --warmgrey-50: 244, 243, 240;
  --coolgrey-50: 163, 163, 166;
  --coolgrey: 72, 71, 77;
  --font: "Soehne-Halbfett";
  --font-mono: "Soehne-Mono-Web-Buch";
  --font-book: "Soehne-Web-Buch"
}
